最新版本3.2 在lookback 环境下无法激活proxy，地址认证失败

如题，因为lookback环境下，lo:0会伪装回报地址，请求目标地址和目标回报地址不一致，导致无法激活proxy。
--永夜

这块auth 应该修改下，lookback 还是很多场景用的。

可能是我描述不正确，lookback 环境下，激活proxy时，请求proxy A 如 192.168.1.1:11080 ，会变成请求proxy A的lookback 地址 192.168.2.1:11080，然后就auth failed了。 备注：proxy监听的是0.0.0.0，一般虚拟机都要求必须监听0.0.0.0才能做负载均衡。

我大概理解你的意思了：就是用 A 地址将 proxy 加入到 dashboard，但是实际上 dashboard 会先问 proxy 注册地址具体是什么，然后用 proxy 提供的注册地址再问一次是不是真的是他自己，在确认身份之后，才成功注册。在你的 case 下，proxy 提供的注册地址是 loopback 地址，所以身份验证失败。

这个问题我在 zhihu 上回答过。链接在这里：[codis报错 check xauth failed?](https://www.zhihu.com/question/52519151)

> 这个错误非常坑爹。
> 我先解释一下错误发生原因。
> ___这个错误大多数是因为 Dashboard 根本没有办法与 Proxy 进行通信造成的。___
> 
> 我在写 Codis 的时候，为了安全起见，会用 ProductName + ProductAuth + MAC 地址生成一个哈西作为签名，就是里面提到的 XAuth。Dashboard 与 Proxy 之间几乎所有的 RPC 操作都会验证这个签名来尽可能防止地址写错造成的错误。
> 最典型的，就是添加 Proxy 的时候。Dashboard 会做两个操作：
> + 第一个操作是获取 Proxy 的基本信息，比如地址等；
> 
> + 第二个操作是向刚刚获得地址发送一个带 XAuth 的 Ping 操作，来验证 Product{Name/Auth} 是不是匹配的，就是验证是不是同一个服务的。
> 
> 通常那句 Failed 是第二个过程出错，不过写的时候，只把这句 Failed 给抛出来了，而把真正的错误给吞了。（不过在 Codis 3.1.5 中问题已经得到 Fix 了）。
>
> >为什么 Dashboard 要从 Proxy 获得地址，然后再验证一次呢？并且为什么地址验证失败呢？
>
> + 部署 Proxy 的时候，图方便，我们通常用 0.0.0.0 地址。但是这个地址是没有办法做服务发现的，因此 Proxy 虽然 Listen 0.0.0.0 这个地址，但是注册时候，还是会尝试把这个地址换成非 unspecificed 地址，比如 192.168.1.100 等等。
> + Proxy 进行地址替换的时候，按照以下顺序：
>     + 先尝试解析 Hostname 看看能不能得到 unspecified 地址，如果能，注册的时候，则直接使用 Hostname 而不做地址翻译。
>     + 在尝试获取全部网卡上的对外地址，如果有，则将找到的第一个作为地址进行注册。
>
> 地址处理过程的代码在这里 [codis/resolver.go at release3.2 · CodisLabs/codis · GitHub](https://github.com/CodisLabs/codis/blob/release3.2/pkg/utils/resolver.go)
>
> 而事实上这部分逻辑经常出错：
> + 先说 Hostname：很多 op 喜欢直接改 hosts，但是还没改全。（为什么不直接配域名服务器？）
>     + 比如我们希望 superman 指向 Proxy 所在的机器，结果只修改 Proxy 所在的机器的 hosts 而没有修改 Dashboard 所在机器的 hosts，结果就造成了 Proxy 用 superman 注册时，Dashboard 无法解析 Proxy 的问题。
> + 再说 IP 地址：如果我们强制不要用域名，一律用 IP 是不是能解决呢？
>     + 答案还是不行。因为有的 op 说我机器上两块网卡，一块内网，一块外网。内网机器之间用外网地址根本无法通信。那么问题就变成了 Proxy 怎么才能知道哪块网卡上的哪个地址才能用作内网服务呢？除非 Dashboard 拿到所有地址，然后挨个试。。。（这种时候还是域名比较好）
> 
> > 解决方案：要想避免上述问题，最好还是手动指定 listen 地址，而不要用 0.0.0.0。或者升级 Codis 到 3.1.5 或者更高的 Codis3.2，至少会把错误信息打全了。
> 
> 我也不想把服务设计的这么复杂。
> 但是没有办法，开源软件服务的网络环境就是这么的复杂，真羡慕基建好的工作环境。



改成监听指定网卡地址是否更加方便简单点？我们内部是这样处理的

我们增加一个配置 绑定网卡名称

就像刚刚回复里面提到的，解决方法有很多种：

1. proxy.toml 里面不要写 0.0.0.0，而是写具体的地址
    + 缺点是不同 proxy 的配置文件不同，除非用工具生成，否则还是很麻烦。
2. proxy 启动的时候，指定 --host-admin 和 --host-proxy 为 本机地址:端口 的组合
    + 这个本来是为容易服务的，注册会用这两个提供的地址去注册服务
    + 缺点是不同机器的启动工具会有差异，但是比直接改 proxy.toml 方便
3. 配域名。

当然最清爽的是方案 1，用工具生成部署工具。比如参考一下 deploy 下面的例子。

原理明白了，谢谢@斯宾洛克    11080 这个端口可以用真实ip监听，19000用0.0.0.0监听，这样就能避免了。

但是研发大神们也要清楚一点，虚拟环境，如果要做三角负载，是要求必须监听0.0.0.0的。

@Password2008 如果不用 jodis 的话，用 0.0.0.0:19000 没有问题。不然的话后果很麻烦。

我来解释一下为什么最后变得这么复杂吧。

因为要照顾到 jodis。因为 proxy 是自己把 x.x.x.x:19000 地址写到 zk，并汇报给 jodis 的，中间不通知 dashboard。虽然 dashboard 用你提供的地址完成 proxy 注册一点问题都没有，但是如果不做任何验证，最终 jodis 拿到的地址可能就是坏的，比如拿 0.0.0.0:19000 去注册、或者拿 lo:19000 去注册，会直接影响服务。所以最后的解决办法就是增加注册的复杂度，确保 jodis 拿到地址可用。

@Password2008 Sorry，不是很懂负载均衡。可能没考虑到。

我们内网ip网卡地址名称都是规范的，所以问题就简单点 比如eth1等 我们proxy增加配置bind_itf=eth1 各个proxy配置是统一的 @spinlock

@tangcong bow！这个方法比较聪明！直接指定网卡比指定 IP 会轻松很多。
不过这样看起来对基建要求比较高。～

另外，0.0.0.0 地址替换不是过滤 127.x.x.x，而是通过 IsGlobalUnicast 来筛选网卡地址。

https://golang.org/src/net/ip.go

```go
// IsGlobalUnicast reports whether ip is a global unicast
// address.
//
// The identification of global unicast addresses uses address type
// identification as defined in RFC 1122, RFC 4632 and RFC 4291 with
// the exception of IPv4 directed broadcast addresses.
// It returns true even if ip is in IPv4 private address space or
// local IPv6 unicast address space.
func (ip IP) IsGlobalUnicast() bool {
    return (len(ip) == IPv4len || len(ip) == IPv6len) &&
        !ip.Equal(IPv4bcast) &&
        !ip.IsUnspecified() &&
        !ip.IsLoopback() &&
        !ip.IsMulticast() &&
        !ip.IsLinkLocalUnicast()
}
```

一般情况各公司基础设施不会出现eth1在机器A是内网ip，机器B是外网ip这类情况吧 否则太混乱了 

@spinlock 我们是否也支持下指定网卡这种方式，如果配置了网卡名称，默认就监听网卡对应的ip地址, 其他情况就按老逻辑~ 如果你觉得ok，我整理下代码，提个PR~

但是！
func (ip IP) IsLoopback() bool {
	if ip4 := ip.To4(); ip4 != nil {
		return ip4[0] == 127
	}
	return ip.Equal(IPv6loopback)
}
这个函数判断存在漏洞，lookback地址除了127.0.0.1地址外，还会有lo:0 地址，这个地址一般是非127开头的。

@Password2008 ，不是这么简单。在 resolver.go 里面，我会尝试获取网卡的全部地址。

你试试这个代码

```go
package main

import (
	"context"
	"fmt"
	"net"
	"os"
	"time"
)

func LookupIP(host string) []net.IP {
	ipAddrs, _ := net.LookupIP(host)
	return ipAddrs
}

func LookupIPTimeout(host string, timeout time.Duration) []net.IP {
	cntx, cancel := context.WithTimeout(context.Background(), timeout)
	defer cancel()
	var ch = make(chan []net.IP, 1)
	go func() {
		ch <- LookupIP(host)
	}()
	select {
	case ipAddrs := <-ch:
		return ipAddrs
	case <-cntx.Done():
		return nil
	}
}

var Hostname, _ = os.Hostname()

func main() {
	if ipAddrs := LookupIPTimeout(Hostname, 30*time.Millisecond); len(ipAddrs) != 0 {
		for _, ip := range ipAddrs {
			if ip.IsGlobalUnicast() {
				fmt.Println(ip.String())
			}
		}
	}
	if ifAddrs, _ := net.InterfaceAddrs(); len(ifAddrs) != 0 {
		for i := range ifAddrs {
			var ip net.IP
			switch in := ifAddrs[i].(type) {
			case *net.IPNet:
				ip = in.IP
			case *net.IPAddr:
				ip = in.IP
			}
			if ip.IsGlobalUnicast() {
				fmt.Println(ip.String())
			}
		}
	}

}
```

执行了，是把lo:0的地址也打印出来了。就是非127.0.0.1的地址。

关闭也给个理由吧，lo:0 是合法存在的，不算是特殊情况。

inet 127.0.0.1/8 scope host lo
inet 172.1.1.224/32 scope global lo:0     

用127判断明显就不够严谨，用 lo  或者 lo:X 判断比较合理。

我不太懂你纠结这个问题的意义是什么了。或者说，你能给出一个通用的解决方案么？或者给出一个非回环地址的准确定义。

On Fri, Apr 28, 2017 at 10:01 Password2008 <notifications@github.com> wrote:

> inet 127.0.0.1/8 scope host lo
> inet 172.1.1.224/32 scope global lo:0
>
> 用127判断明显就不够严谨，用 lo 或者 lo:X 判断比较合理。
>
> —
> You are receiving this because you modified the open/close state.
>
>
> Reply to this email directly, view it on GitHub
> <https://github.com/CodisLabs/codis/issues/1214#issuecomment-297887125>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAsHpSTvJTpad4dcznEOtzythA8ynWYsks5r0Uh6gaJpZM4NBG0O>
> .
>


抱歉很难通过网卡名字进行判断。因为，你的网卡可以叫 lo，我的网卡可以叫 xy，根据名字判断并不通用，也不可行。

在现有技术手段下，我只能得到网卡 flag 以及网卡上面的地址。网卡的 flag 上包含 loopback 的话，是不是代表网卡上所有的地址都是 loopback 的这件事我不太清楚（网络学的比较差），如果是，这件事还可以试试看，否则感觉无解。

PS. 你应该弄清楚 codis-proxy 是用哪个地址注册：的确不是 127 的那个，而是 172 开头的那个地址，也可能是你自己的 hostname。你翻翻 dashboard/proxy 的 log 看一下就清楚了。



@Password2008 
并不是绑定在 lo 上的地址就叫回环地址。回环地址只是一个约定，127/8 的地址在网络上不给路由。实际上，只要相关的路由配置正确，绑定在lo上的地址同样可以被外面访问到。例如，我维护的网关服务上，会在 lo 上绑定一个 10.10.10.10/32 的地址，内网各网段的主机都可以访问到这个地址。你的环境中，显然，172.1.1.224/32这个IP也是从外部可访问的，否则你的负载均衡设备是如何将包路由给你这台机器的呢？
172.1.1.224/32并没有因为被绑定在lo上而具有任何特殊性。只是你的网络环境中，由于路由配置的问题，只有负载均衡设备能访问到，其他设备访问不到而已，跟这个地址绑定在lo上没有关系。

事实上，你做负载均衡时，172.1.1.224/32可以不必绑定在lo上，而是可以绑定在任何一个iface上。你也可以创建一个类型为dummy、名字任意的iface来绑定这个IP，例如：

```
ip link add wodewangka0 type dummy
ip addr add 172.1.1.224/32 dev wodewangka0
ip link set wodewangka0 up
```

同样可以在你的负载均衡中使用。教程上都把这个地址绑到lo上，仅仅是为了方便（不用创建额外的iface）、并且也不让人困惑（比如让你绑在eth0上，你可能很难理解，eth0有什么特殊吗）。

就这个问题而言，172.1.1.224/32 没有任何特殊性，也并不是回环地址。

好吧，我的标题确实有问题，我的意思是，如果多个网卡多个ip的时候，就会出问题。@StephenPCG

@Password2008 
在 **网卡绑定多个IP** 这种情况下，你认为什么样的行为 **更合理** ，更合适用作 **默认行为** ？说说你的建议。
